:root {
    --primary-color: #02f9df;
    --secondary-color: #ff7cce;

}


.bg-pink {
    background-color: var(--secondary-color);
}

.bg-goal {
    background-color: var(--primary-color);
}

.btn {
    width: 150px;
}



#goals-container {
    border-left: solid 4px var(--secondary-color);
    border-right: solid 4px var(--secondary-color);
    box-shadow: inset 0 0 8px #888;
    min-height: 85vh;
}

#goals-bar {
    width: 100%;
}

.goal {
    box-shadow: 0 0 5px #888;
    margin: 0 3vw;
    height: 40vh;
    width: 40vw;
}

.goal-eval {
    margin-bottom: 10px;
}


